In [2]:
# 0. Importing the basic libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [53]:
# 1. Import melbourne dataframe, and try to handle missing values in the dataframe
melb=pd.read_csv('melbourne.csv')
melb.shape

(23547, 21)

In [4]:
# 2. Show head of the dataset
melb.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,03-09-2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,03-12-2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,04-02-2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,04-02-2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,04-03-2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0

In [27]:
# 3. Check the percentatge of missing values in the columns of the dataset.
#    3.1. First of all get the amount of missing values for each column.
#    3.2. Then get the percentatge of missing values for each column.
print ('Number of missing values for each column:\n', melb.isnull().sum())
print('----------------------------------------', '\n')
print ('Percentatge of missing values for each column:\n', round(melb.isnull().sum()*100/melb.shape[0]))

Number of missing values for each column:
 Suburb               0
Address              0
Rooms                0
Type                 0
Price             5151
Method               0
SellerG              0
Date                 0
Distance             1
Postcode             1
Bedroom2          4481
Bathroom          4484
Car               4626
Landsize          6137
BuildingArea     13529
YearBuilt        12007
CouncilArea       7891
Lattitude         4304
Longtitude        4304
Regionname           1
Propertycount        1
dtype: int64
----------------------------------------

Percentatge of missing values for each column:
 Suburb            0.0
Address           0.0
Rooms             0.0
Type              0.0
Price            22.0
Method            0.0
SellerG           0.0
Date              0.0
Distance          0.0
Postcode          0.0
Bedroom2         19.0
Bathroom         19.0
Car              20.0
Landsize         26.0
BuildingArea     57.0
YearBuilt        51.0
CouncilArea      34.0
Lattitude        18.0
Longtitude       18.0
Regionname        0.0
Propertycount     0.0
dtype: float64

In [52]:
# 4. Remove missing columns with 33% to 56% calculations.
#    - You can do this manually by deleting all three columns that meet this condition.
#    - Or you can program it to automatically detect from the previous result those columns that meet the condition.

In [31]:
#Manually:
melb=melb.drop(['BuildingArea','YearBuilt','CouncilArea'],axis=1)
print ('Percentatge of missing values for each column:\n', round(melb.isnull().sum()*100/melb.shape[0]))

Percentatge of missing values for each column:
 Suburb            0.0
Address           0.0
Rooms             0.0
Type              0.0
Price            22.0
Method            0.0
SellerG           0.0
Date              0.0
Distance          0.0
Postcode          0.0
Bedroom2         19.0
Bathroom         19.0
Car              20.0
Landsize         26.0
Lattitude        18.0
Longtitude       18.0
Regionname        0.0
Propertycount     0.0
dtype: float64

In [46]:
#Automatically
melb.isnull().sum().index[(round(melb.isnull().sum()*100/melb.shape[0])>33)]

Index(['BuildingArea', 'YearBuilt', 'CouncilArea'], dtype='object')

In [54]:
melb=melb[melb.isnull().sum().index[(round(melb.isnull().sum()*100/melb.shape[0])<33)]]
print ('Percentatge of missing values for each column:\n', round(melb.isnull().sum()*100/melb.shape[0]))

Percentatge of missing values for each column:
 Suburb            0.0
Address           0.0
Rooms             0.0
Type              0.0
Price            22.0
Method            0.0
SellerG           0.0
Date              0.0
Distance          0.0
Postcode          0.0
Bedroom2         19.0
Bathroom         19.0
Car              20.0
Landsize         26.0
Lattitude        18.0
Longtitude       18.0
Regionname        0.0
Propertycount     0.0
dtype: float64

In [65]:
# 5. Removing all the rows where there is a missing value in the Price column.
melb['Price']=melb['Price'].isnull()==False ##dropna() didn't work
print(round(melb.isnull().sum()*100/melb.shape[0]))

Suburb            0.0
Address           0.0
Rooms             0.0
Type              0.0
Price             0.0
Method            0.0
SellerG           0.0
Date              0.0
Distance          0.0
Postcode          0.0
Bedroom2         19.0
Bathroom         19.0
Car              20.0
Landsize         26.0
Lattitude        18.0
Longtitude       18.0
Regionname        0.0
Propertycount     0.0
dtype: float64

In [64]:
# Describing the values for lattitude and longitude 
data[['Lattitude','Longtitude']].describe()

          Lattitude    Longtitude
count  15064.000000  15064.000000
mean     -37.809849    144.996338
std        0.081152      0.106375
min      -38.182550    144.431810
25%      -37.858100    144.931193
50%      -37.803625    145.000920
75%      -37.756270    145.060000
max      -37.408530    145.526350

In [70]:
# 6. Use mean function to impute the values in Lattitude and Longitude
melb['Lattitude']=melb['Lattitude'].fillna(melb['Lattitude'].mean())
melb['Longtitude']=melb['Longtitude'].fillna(melb['Longtitude'].mean())
print(round(melb.isnull().sum()*100/melb.shape[0]))

Suburb            0.0
Address           0.0
Rooms             0.0
Type              0.0
Price             0.0
Method            0.0
SellerG           0.0
Date              0.0
Distance          0.0
Postcode          0.0
Bedroom2         19.0
Bathroom         19.0
Car              20.0
Landsize         26.0
Lattitude         0.0
Longtitude        0.0
Regionname        0.0
Propertycount     0.0
dtype: float64

In [72]:
# 7. We have to impute the values in categorical columns (Bathroom and Car) using the Mode() function
melb['Bathroom']=melb['Bathroom'].fillna(melb['Bathroom'].mode()[0])
melb['Car']=melb['Car'].fillna(melb['Car'].mode()[0])
print(round(melb.isnull().sum()*100/melb.shape[0]))

Suburb            0.0
Address           0.0
Rooms             0.0
Type              0.0
Price             0.0
Method            0.0
SellerG           0.0
Date              0.0
Distance          0.0
Postcode          0.0
Bedroom2         19.0
Bathroom          0.0
Car               0.0
Landsize         26.0
Lattitude         0.0
Longtitude        0.0
Regionname        0.0
Propertycount     0.0
dtype: float64

In [82]:
# 8. Finally remove all the rows that contains missing values for the column "Landsize"
melb['Landsize']=melb['Landsize'].isnull()==False
#Check it: data['Landsize'].isnull().sum()
print(round(melb.isnull().sum()*100/melb.shape[0]))

Suburb            0.0
Address           0.0
Rooms             0.0
Type              0.0
Price             0.0
Method            0.0
SellerG           0.0
Date              0.0
Distance          0.0
Postcode          0.0
Bedroom2         19.0
Bathroom          0.0
Car               0.0
Landsize          0.0
Lattitude         0.0
Longtitude        0.0
Regionname        0.0
Propertycount     0.0
dtype: float64

In [83]:
melb['Landsize'].isnull().sum()

0

In [84]:
#I filled the missing values in Bedroom2 with it's mean
melb['Bedroom2']=melb['Bedroom2'].fillna(round(melb['Bedroom2'].mean(),1))

In [85]:
print(round(melb.isnull().sum()*100/melb.shape[0]))

Suburb           0.0
Address          0.0
Rooms            0.0
Type             0.0
Price            0.0
Method           0.0
SellerG          0.0
Date             0.0
Distance         0.0
Postcode         0.0
Bedroom2         0.0
Bathroom         0.0
Car              0.0
Landsize         0.0
Lattitude        0.0
Longtitude       0.0
Regionname       0.0
Propertycount    0.0
dtype: float64

In [88]:
# Check there are no missing values at all:
melb.isnull().sum()

Suburb           0
Address          0
Rooms            0
Type             0
Price            0
Method           0
SellerG          0
Date             0
Distance         1
Postcode         1
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
Lattitude        0
Longtitude       0
Regionname       1
Propertycount    1
dtype: int64

In [91]:
#I removed the rows where there is a missing value in the columns left
melb['Distance']=melb['Distance'].isnull()==False
melb['Postcode']=melb['Postcode'].isnull()==False
melb['Regionname']=melb['Regionname'].isnull()==False
melb['Propertycount']=melb['Propertycount'].isnull()==False
melb.isnull().sum().sum()

0